body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
  line-height: 1.65em;
  background: linear-gradient(to bottom, gray 0%,white 50%,#000000 50%,white 50%,gray 100%);
  color: black;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin: 20% 0 5% 0;
}

#wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
}

#button {
  background: #0b7fba;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    margin-left: -400px;
    padding: 0;
    width: 200px;
    border: 1px solid #555;
    position: fixed;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}
